# Project exclude paths
/.gradle/
/build/

!/run/cache/

!/run/logs/

!/run/plugins/_run-paper_plugin_0.jar

!/run/world_nether/

!/run/world_the_end/

!/run/world/

!/run/banned-players.json

!/run/banned-ips.json

!/run/bukkit.yml

!/run/commands.yml

!/run/help.yml

!/run/ops.json

!/run/paper.yml

!/run/permissions.yml

!/run/server.properties

!/run/spigot.yml

!/run/usercache.json

!/run/whitelist.json
